
<nav class="navbar">
  <ul class="nav">
     <li class="nav-item">
        <a class="nav-link" routerLink="/home" *ngIf="!isAuthenticated()">Home</a>
     </li>

     <li class="nav-item">
       <a class="nav-link" routerLink="/about" *ngIf="!isAuthenticated()">About</a>
     </li>

     <li class="nav-item">
        <a class="nav-link" routerLink="/contact" *ngIf="!isAuthenticated()">Contact</a>
     </li>

     <li class="nav-item">
       <a class="nav-link" routerLink="/footer" *ngIf="!isAuthenticated()">Footer</a>
     </li>
  </ul>
</nav>

<router-outlet />
