<div class="home-container">
    <h1>Welcome to my Portfolio</h1>
    <div>
        <div class="content">
            <div class="img-container">
                <img src="" alt="" class="image">
            </div>
        </div>
        <div class="img-text">
            <p>Project1</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, mollitia, aliquid nam a numquam
                sequi, recusandae consequatur cumque quae nihil quisquam esse eligendi? Cupiditate quod aut deleniti
                quis nemo quam.</p>
        </div>
    </div>
</div>